apiVersion: v1
kind: Config
contexts:
- name: ${name}
  context:
    cluster: ${name}
    user: ${name}
current-context: ${name}
users:
- name: ${name}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws
      args:
      - --region
      - ${region}
      - eks
      - get-token
      - --cluster-name
      - ${name}
clusters:
- name: ${name}
  cluster:
    certificate-authority-data: ${ca_data}
    server: ${endpoint}